<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
  
    <title>Direct viewer connection | Isard VDI</title>
    <style>
      body { 
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
      }

      #container {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      .logo {
        width: 75px;
        margin-top: 275px;
      }

      .big_button {
        margin: 1rem;
        background-color:white;
        border: 5px solid #e9ecef;
        border-radius: 2rem;
        padding: 75px 75px 75px 75px;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        font-weight: bold;
      }

      .big_button:hover {
        background-color: #e9ecef;
        cursor: pointer;
      }
    </style>    

  </head>

  <body>
    <div id="container">
      <img class="logo" src="/vw/img/logo.svg">
      <h1>IsardVDI</h1>
      <h2><i>Direct viewer connection</i></h2>
      <h3>{{ vmName|safe }}</h3>
      <h5>{{ vmDescription|safe }}</h5>
      <input class="big_button" id="browser-vnc" type="button" class="button1" value="Browser access" onclick="open_viewer('browser-vnc');" />
      <input class="big_button" id="file-spice" type="button" class="button2"value="Local client" onclick="open_viewer('file-spice');" />
      <div>
        <a href="https://isard.gitlab.io/isardvdi-docs/user/local-client/" target="_blank">How to install local client</a>
      </div>
    </div>
  </body>
  <script  type="text/javascript">
      const urlParams = new URLSearchParams(window.location.search);
      protocol=urlParams.get('protocol')
      if(protocol){open_viewer(protocol,blank='_self')}

    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function open_viewer(kind,blank='_blank'){
        var viewers = {{ viewers|safe }};
        if(kind=='browser-vnc'){
            setCookie('browser_viewer', viewers['browser-vnc']['cookie'], 1)
            window.open(viewers['browser-vnc']['viewer'], blank);
        }

        if(kind=='file-spice'){
            var viewerFile = new Blob([viewers['file-spice']['content']], {type: viewers['file-spice']['mime']});
            var a = document.createElement('a');
                a.download = 'console.'+viewers['file-spice']['ext'];
                a.href = window.URL.createObjectURL(viewerFile);
            var ev = document.createEvent("MouseEvents");
                ev.initMouseEvent("click", true, false, self, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                a.dispatchEvent(ev);
        }
    }
  </script>
</html>
